# note we want dist

.docker
node_modules
packages/*/node_modules
**/node_modules
ios
android
.git
.expo
**/tmp-data
**/tmp
src/test
docs
tests
*.md
*.test.*
*.spec.*
.env*
.gitignore
.prettierrc
.eslintrc
docker-compose.yml
vitest.config.ts
tsconfig.tsbuildinfo
